
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_filter {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    #tbl-visittypes {
        width: 100% !important;
    }
</style>

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card p-0">
                <h6 class="card-title card-padding pb-0">
                    Quản lý loại thăm khám
                    <button class="mdc-button mdc-button--outlined outlined-button--success mdc-ripple-upgraded" onclick="showFormNewVisitType()">
                        <i class="material-icons mdc-button__icon">add</i>
                        Thêm
                    </button>
                </h6>
                <table id="tbl-visittypes" class="mdl-data-table"></table>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
<div id="popupPlaceholder"></div>

@section script{
<script>
    function showFormNewVisitType() {
        var url = '@Url.Action("GetVisitTypeDetail", "VisitTypeGroup")';
        $('#popupPlaceholder').load(url, { id: 0 }, function (response, status, xhr) {
            $("#modalEditVisitType").modal();
        });
    }

    function viewDetail(id) {
        var url = '@Url.Action("GetVisitTypeDetail", "VisitTypeGroup")';
        $('#popupPlaceholder').load(url, { id: id }, function (response, status, xhr) {
            $("#modalEditVisitType").modal();
        });
    }

    function deactiveVisitType(id) {
        $.ajax(
            {
                type: "POST",
                data: { id : id, "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]')[0].value },
                url: "@Url.Action("DeactivateVisitType", "VisitTypeGroup")",
                success: function (data) {
                    if (data) {
                        $('#tbl-visittypes').DataTable().ajax.reload();
                    }
                    else {
                        // show popup alert save false
                    }
                }
            })
    }

    function activeVisitType(id) {
        $.ajax(
            {
                type: "POST",
                data: { id : id, "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]')[0].value },
                url: "@Url.Action("ActivateVisitType", "VisitTypeGroup")",
                success: function (data) {
                    if (data) {
                        $('#tbl-visittypes').DataTable().ajax.reload();
                    }
                    else {
                        // show popup alert save false
                    }
                }
            })
    }

    $(document).ready(function () {
        var t = $('#tbl-visittypes').DataTable({
            autoWidth: true,
            responsive: true,
            processing: true,
            paging: true,
            serverSide: true,
            filter: false,
            orderMulti: false,
            order: [[1, "asc"]],
            searching: false,
            lengthChange: false,
            ajax: {
                url: "@Url.Action("GetListVisitTypes", "VisitTypeGroup")",
                type: "POST"
            },
            columnDefs: [
                { targets: 0, visible: false, searchable: false, orderable: false },
                { targets: 1, width: "150px" },
                { targets: 3, width: "200px" },
                { targets: 4, visible: false, searchable: false, orderable: false },
                { targets: 5, searchable: false, orderable: false }
            ],
            columns: [
                { data: "Id", name: "Id" },
                { title: "Tên tiếng Việt", data: "ViName", name: "ViName" },
                { title: "Tên Tiếng Anh", data: "EnName", name: "EnName" },
                { title: "Mã", data: "Code", name: "Code" },
                { title: "IsDeleted", data: "IsDeleted", name: "IsDeleted" },
                {
                    title: "Thao tác", render: function (data, type, full, meta) {
                        var render = '';
                        if (full.IsDeleted) {
                            render += '<button type="button" class="mdc-button mdc-button--raised icon-button filled-button--success mdc-ripple-upgraded" style="width: 30px; padding: 0;" title="Kích hoạt" onclick="activeVisitType(\'' + full.Id + '\')"><i class="material-icons mdc-button__icon">check</i></button>';
                        } else {
                            render += '<button type="button" class="mdc-button mdc-button--raised icon-button filled-button--secondary mdc-ripple-upgraded" style="width: 30px; padding: 0;" title="Vô hiệu" onclick="deactiveVisitType(\'' + full.Id + '\')"><i class="material-icons mdc-button__icon">clear</i></button>';
                        }
                        render += '&nbsp;<button type="button" class="mdc-button mdc-button--raised icon-button filled-button--info mdc-ripple-upgraded" style="width: 30px; margin-right: 5px; padding: 0;" onclick="viewDetail(\'' + full.Id + '\')"><i class="material-icons mdc-button__icon">edit</i></button>';
                        return render;
                    }
                }
            ]
        });
    })
</script>
}