@using Admin.Models
@model SpecialtyViewModel

<div class="modal" tabindex="-1" role="dialog" id="modalEditSpecialty">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:120%">
            <div class="modal-header">
                @if (!Model.IsEdit)
                {
                    <h5 class="modal-title">Thêm chuyên khoa</h5>
                }
                else
                {
                    <h5 class="modal-title">Sửa chuyên khoa</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmSpecialtyDetail">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(s => s.Id)
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Tên tiếng Việt:</b></div>
                        <div class="col-8">
                            @Html.TextBoxFor(s => s.ViName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Tên tiếng Anh:</b></div>
                        <div class="col-8">
                            @Html.TextBoxFor(s => s.EnName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Bệnh án:</b></div>
                        <div class="col-8 form-control" style="background-image:none" id="listMedicalRecord">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Mã:</b></div>
                        <div class="col-8">
                            @Html.TextBoxFor(s => s.Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Location His Code:</b></div>
                        <div class="col-8">
                            @Html.TextBoxFor(s => s.LocationCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Bệnh viện:</b></div>
                        <div class="col-8">
                            @Html.DropDownListFor(s => s.SiteId, Model.ListSites, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Loại thăm khám:</b></div>
                        <div class="col-8">
                            @Html.DropDownListFor(s => s.VisitTypeId, Model.ListVisitTypes, new {@class = "form-control", onchange = "GetMedicalRecordForNewSpecialty()" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mdc-label"><b>Triển khai:</b></div>
                        <div class="col-8" style="padding: 10px 0 0 15px;">
                            @Html.CheckBoxFor(s => s.IsPublish)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @if (!Model.IsEdit)
                {
                    <button type="button" class="btn btn-success" onclick="saveSpecialty()">Thêm</button>
                }
                else
                {
                    <button type="button" class="btn btn-success" onclick="saveSpecialty()">Lưu</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function saveSpecialty() {
        $.ajax(
            {
                type: "POST",
                data: $('#frmSpecialtyDetail').serializeArray(),
                url: "@Url.Action("SaveSpecialty", "Specialty")",
                success: function (data) {
                    if (data != null) {
                        $("#modalEditSpecialty").modal('hide');
                        $('#tbl-specialties').DataTable().ajax.reload();
                        let id = data.data;
                        SetStatusIPDMedicalRecord(id);
                    }
                    else {
                        // show popup alert save false
                    }
                }
            })
    }

    $('#VisitTypeId').change(function () {
        var idVisitType = $('#VisitTypeId').val();
        $.ajax(
            {
                type: 'GET',
                url: 'Specialty/GetListIPDMedicalRecords',
                data: { visitId: idVisitType },
                success: function (res) {
                    console.log(res);
                    if (res.data != '') {
                        $('#listMedicalRecord').empty();
                        let medical = '';
                        $.each(res.data, function (i, value) {

                            if (value.IsDeploy) {
                                medical += '<label name ="buttun" class="btn btn-default">'
                                    + value.ViName + '&nbsp<input checked id="' + i + '" type="checkbox" name="checkBN" value="' + value.Formcode + '" />'
                                    + '</label>&nbsp;';
                            }
                            else {
                                medical += '<label  name ="buttun" class="btn btn-default">'
                                    + value.ViName + '&nbsp<input id="' + i + '" type="checkbox" name="checkBN" value="' + value.Formcode + '" />'
                                    + '</label>&nbsp;';
                            }
                        })
                        $('#listMedicalRecord').append(medical);
                    }
                }
            })
    });

    function SetStatusIPDMedicalRecord(id) {
        let model = id;
        let arrayObj = [];
        var checkBn = document.getElementsByName('checkBN');
        for (var i = 0; i < checkBn.length; i++) {
            let obj = { status: checkBn[i].checked, code: checkBn[i].value };
            arrayObj.push(obj);
            console.log(obj);

        }
        $.ajax({
            url: 'Specialty/SetUpIPDMedicalRecord',
            type: 'POST',
            data: { setStatus: arrayObj, model: model },
            success: function (res) {
                if (res == null) {
                    // show message setup medical record false //
                }
            }
        })
    }
</script>